import mysql.connector

class Sql_connection:
    def get_connectoin(self):
        return mysql.connector.connect(
            host = 'localhost',
            user = 'root',
            password = '#include<stdio.h>',
            database = 'dialy_diary_app'
        )
s = Sql_connection()
